<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/moviesList.js"></script>
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1 class="moviesListTitulo"></h1>
    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <section class="section-list">
        <ul class="movies-list"></ul>        
    </section>

    <button id="preview">Anterior</button>
    <div class="page-list">

    </div>
    <button id="next">Siguiente</button>

    <script src="/js/moviesList.js"></script>    
</body>
</html>